@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: "Dosis", sans-serif;
    font-weight: 700 !important;
    font-size: 2rem;
  }

  p {
    font-family: "Dosis", sans-serif;
    font-weight: 200;
    line-height: 2;
  }

  a {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
  }
}

@layer components {
  .knap_hover {
    color: black;
    background: white;
    border: 2px solid black;
  }

  .knap_hover:hover {
    background: black;
    color: #edff02;
  }

  .autominmax {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  #baggrunden_footer {
    background-image: url(/billeder/footer_baggrund.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
